.root {
  background-color: #212121;
  //width: 10px;
  align-self: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
    Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.sidebar-header {
  background-color: cornsilk;
}

.sidebar-body {
  background-color: #212121;
  display: flexbox;
  flex-flow: column;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.sidebar-footer {
  background-color: darkgoldenrod;
}
