<aside
  class="offcanvas offcanvas-start bg-primary text-light"
  [class.show]="isOpen"
  id="sidebar"
  aria-labelledby="sidebarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">Menu de Navegação</h5>
    <button type="button" class="btn-close text-reset" (click)="sidebar.hide()"></button>
  </div>

  <div class="offcanvas-body">
    <ul class="list-unstyled d-flex flex-column gap-3">
      <li *ngFor="let item of items" class="bg-primary">
        <a
          class="d-flex gap-1"
          [routerLink]="item.link.url"
          [fragment]="item.link.fragment"
        >
          <div class="bg-secondary text-center" style="width: 27px">
            <i [class]="item.icon"></i>
          </div>
          {{ item.title.toUpperCase() }}
        </a>
      </li>
    </ul>
  </div>

  <div class="offcanvas-footer">
    <span>GRUPOS DOS BIXOS</span>
  </div>
</aside>
