<app-title>Matrícula</app-title>

<p>
  No manual do candidato você encontrará informações detalhadas sobre as matrículas.
  Destacamos abaixo algumas das mais importantes.
</p>

<img
  src="https://andrebauer.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F40b057d2-2c8b-4b1b-a28d-018df0c4160a%2FUntitled.png?table=block&id=756e0c6d-aeab-4823-b8d6-e5945c484fc0&spaceId=4ae49d98-2a40-4987-86dd-2367bc3caca5&width=1540&userId=&cache=v2"
  alt="Fluxograma: Convoações, Matrícula e Lista de Espera"
/>

<h3>Listas de Chamadas: Datas e Período da Divulgação e Matrícula (Etapa Virtual)</h3>

<h4><strong>Primeira Chamada</strong></h4>
<p>19/03/2021 (sexta-feira) Divulgação pela FUVEST</p>
<p>19/03/2021 (sexta-feira), das 8h até 23/03/2021 (terça-feira), às 16h - Matrícula</p>

<h4><strong>Segunda Chamada</strong></h4>
<p>29/03/2021 (segunda-feira) Divulgação pela FUVEST</p>
<p>29/03/2021 (segunda-feira), das 8h até 30/03/2021 (terça-feira), às 16h - Matrícula</p>

<h4><strong>Terceira Chamada</strong></h4>
<p>05/04/2021 (segunda-feira) Divulgação pela FUVEST</p>
<p>05/04/2021 (segunda-feira), das 8h até 06/04/2021 (terça-feira), às 16h - Matrícula</p>

<p><strong>Observação</strong></p>
<p>
  Horário de atendimento do SUPORTE DE GRAUAÇÃO: das 8h00 às 18h00, de segunda a
  sexta-feira(excepcionalmente, nos dias 20 e 21/03/2021, também haverá atendimento nesse
  mesmo horário
</p>

<h3>Matrícula - Etapa Presencial (1ª a 3ª chamadas)</h3>
<p>
  A matrícula para todos candidatos convocados nas três chamadas regulares ocorrerá nos
  dias <strong>12, 13 e 14/04/2021</strong> (segunda, terça e quarta-feira), conforme o
  <strong>perído do curso.</strong>
</p>

<h4><strong>Cursos dos Perído Matutino, Vespertino e Diurno</strong></h4>
<p>Das 8h00 até as 11h00</p>
<h4><strong>Cursos do Período Integral</strong></h4>
<p>Das 13h00 até as 17h00</p>
<h4><strong>Cursos do Período Noturno</strong></h4>
<p>Das 18h00 até as 20h00</p>

<p>
  <strong>Observação:</strong> O dia e horário específicos de cada curso e turno serão
  divulgados posteriormente, via e-mail, a todos os ingrassantes.
</p>

<h3><strong>Local de Matrícula:</strong></h3>
<p>
  Anfiteatro de Convenções Jorge Caron, Rua Miguel Petroni, 168-178 - Jardim Bandeirantes
  - CEP: 13566-590 (em frente ao bloco E1) - São Carlos, SP
</p>

<div class="center">
  <h4>Escola de Engenharia de São Carlos</h4>
  <p>Av. Trabalhador São Carlense, 400</p>
  <p>Parque Arnold Schimidt -</p>
  <p>13566-590, São Carlos, SP</p>
  <p>(16) 3373-9249 ou 3373-9929</p>
  <p>graduação@eesc.usp.br</p>
</div>
