<app-title>Projeto Ampère</app-title>

<section>
  <p>Temos um projeto para apoiar vocês nas materiais da graduação.</p>
  <p>
    Projeto Ampere foi desenvolvido com o objetivo de ajudar os bixos em sua nova
    caminhada dentro da nossa universidade, fornecendo materiais de estudo focados nas
    matérias ministradas no primeiro semestre da graduação e uma forma de auxílio dos
    alunos para os alunos.
  </p>
  <p>
    Os membros do projeto desenvolveram aulas teóricas e de exercícios sobre as matérias
    de Pré-Cálculo, Cálculo, Física, GA e Programação, além de guias de estudos, listas de
    exercícios e um cronograma de aulas para resolução de exercícios!
  </p>
</section>
<br />

<section>
  <h5>Pré Calculo</h5>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5UAxCjlER5gwqsQI_biHrjN"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <h5>Geometria Analítica</h5>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5XF04xKXTc1gtm_HcJw0JrE"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <h5>Programação</h5>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5VevS-FG71UQ-6JT3FAUzqo"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <h5>Física I</h5>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5W2o5yhNx3z-22D3HcHMDYA"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <br />
  <br />
  <h5>Cálculo I</h5>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PL_OkSoJUiZ5UU3qc84RWN7_mvEdezxM5F"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</section>
